In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.metrics import confusion_matrix, accuracy_score

In [9]:
data = {
    'Customer': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 35, 45, 30],
    'Income': [50000, 70000, 90000, 60000],
    'Spending_Score': [80, 60, 40, 70]
}

In [10]:
df = pd.DataFrame(data)

In [11]:
df

  Customer  Age  Income  Spending_Score
0    Alice   25   50000              80
1      Bob   35   70000              60
2  Charlie   45   90000              40
3    David   30   60000              70

In [12]:
features = df.drop(columns= ['Customer'])

In [ ]:
s1 =

In [13]:
features

   Age  Income  Spending_Score
0   25   50000              80
1   35   70000              60
2   45   90000              40
3   30   60000              70

In [17]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [18]:
scaler = StandardScaler()
minimax_scaler = MinMaxScaler()

In [19]:
features_scaled = minimax_scaler.fit_transform(features)

In [21]:
features_scaled

array([[0.  , 0.  , 1.  ],
       [0.5 , 0.5 , 0.5 ],
       [1.  , 1.  , 0.  ],
       [0.25, 0.25, 0.75]])

In [22]:
features_scaled_df = pd.DataFrame(features_scaled, columns=features.columns)

In [23]:
features_scaled_df

    Age  Income  Spending_Score
0  0.00    0.00            1.00
1  0.50    0.50            0.50
2  1.00    1.00            0.00
3  0.25    0.25            0.75

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
sim_matrix = cosine_similarity(features_scaled_df)

In [31]:
sim_matrix_df = pd.DataFrame(sim_matrix, index = df['Customer'], columns= df['Customer'])

In [32]:
sim_matrix_df

Customer     Alice       Bob   Charlie     David
Customer
Alice     1.000000  0.577350  0.000000  0.904534
Bob       0.577350  1.000000  0.816497  0.870388
Charlie   0.000000  0.816497  1.000000  0.426401
David     0.904534  0.870388  0.426401  1.000000

In [34]:
sim_matrix_df.apply(lambda x: x.replace(1.0, np.nan)).idxmax(axis=1)

Customer
Alice        David
Bob            Bob
Charlie    Charlie
David        Alice
dtype: object

In [30]:
sim_matrix

array([[1.        , 0.57735027, 0.        , 0.90453403],
       [0.57735027, 1.        , 0.81649658, 0.87038828],
       [0.        , 0.81649658, 1.        , 0.42640143],
       [0.90453403, 0.87038828, 0.42640143, 1.        ]])

In [ ]:
sim_matrix_df = pd.DataFrame(sim_matrix, columns= features_scaled_df.columns)