Audience-Based Targeting – Recommend billboards/digital screens based on demographics, location, and past impressions.
Contextual Recommendations – Suggest ad placements based on weather, time of day, traffic patterns, and events.
Performance-Based Recommendations – Prioritize locations based on CTR (Click-Through Rate), engagement, and past ad effectiveness
Advertiser Budget Optimization – Allocate ad spend efficiently across high-performing locations.
Competitor Analysis – Recommend OOH spots based on competitor placements and their effectiveness.
Cross-Channel Integration – Suggest locations that complement digital, TV, or social media campaigns.

#### Cosine similarity between locations recommend billboards/digital screens based on demographics

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(123)

In [3]:
num_locations = 10
df = pd.DataFrame({
    'Billboard_ID': [f'B{i+1}' for i in range(num_locations)],
    'Latitude': np.random.uniform(37.0, 38.0, num_locations),
    'Longitude': np.random.uniform(-122.0, -121.0, num_locations),
    'Traffic_Volume': np.random.randint(5000, 50000, num_locations),
    'Footfall': np.random.randint(1000, 20000, num_locations),
    'CTR': np.random.uniform(0.5, 5, num_locations),  # Click-through rate
    'Cost_Per_Impression': np.random.uniform(0.01, 0.1, num_locations),
    'Competitor_Ads': np.random.choice([0, 1], num_locations)  # 1: Competitor present, 0: Not
})

In [4]:
df

,Billboard_ID,Latitude,Longitude,Traffic_Volume,Footfall,CTR,Cost_Per_Impression,Competitor_Ads
0,B1,37.696469,-121.656822,11648,12894,1.193370,0.071494,1
1,B2,37.286139,-121.270950,27461,3338,0.846889,0.092503,1
2,B3,37.226851,-121.561428,28728,17972,4.504396,0.019804,0
3,B4,37.551315,-121.940322,22543,10896,3.876704,0.054594,0
4,B5,37.719469,-121.601956,9195,13394,3.620315,0.030955,1
5,B6,37.423106,-121.262005,7428,18221,2.802935,0.049317,1
6,B7,37.980764,-121.817508,13028,3624,2.589206,0.077639,0
7,B8,37.684830,-121.824548,8252,2442,3.057938,0.053280,1
8,B9,37.480932,-121.468449,22766,10018,1.861473,0.081796,1
9,B10,37.392118,-121.468172,33513,10610,2.737890,0.035443,1

In [5]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler()

In [8]:
df_scaled = scaler.fit_transform(df.drop(columns= ['Billboard_ID']))

In [11]:
billboard_similarity = cosine_similarity(df_scaled)

In [12]:
similarity_df = pd.DataFrame(billboard_similarity, index = df['Billboard_ID'], columns= df['Billboard_ID'])

In [13]:
similarity_df

Billboard_ID,B1,B2,B3,B4,B5,B6,B7,B8,B9,B10
Billboard_ID,,,,,,,,,,
B1,1.000000,0.774528,0.406323,0.542491,0.855792,0.863256,0.626883,0.820615,0.925498,0.758476
B2,0.774528,1.000000,0.380318,0.398099,0.569453,0.696630,0.463623,0.640041,0.933367,0.814417
B3,0.406323,0.380318,1.000000,0.811482,0.622383,0.645139,0.345266,0.300637,0.546363,0.736677
B4,0.542491,0.398099,0.811482,1.000000,0.639068,0.521890,0.748576,0.542305,0.609569,0.639905
B5,0.855792,0.569453,0.622383,0.639068,1.000000,0.908284,0.558324,0.861840,0.795709,0.798939
B6,0.863256,0.696630,0.645139,0.521890,0.908284,1.000000,0.418270,0.697343,0.852050,0.795914
B7,0.626883,0.463623,0.345266,0.748576,0.558324,0.418270,1.000000,0.662855,0.596658,0.412955
B8,0.820615,0.640041,0.300637,0.542305,0.861840,0.697343,0.662855,1.000000,0.784121,0.683254
B9,0.925498,0.933367,0.546363,0.609569,0.795709,0.852050,0.596658,0.784121,1.000000,0.893695
B10,0.758476,0.814417,0.736677,0.639905,0.798939,0.795914,0.412955,0.683254,0.893695,1.000000

In [15]:
array = similarity_df.to_numpy()
np.fill_diagonal(array, np.nan)
sim_df = pd.DataFrame(array, index = df['Billboard_ID'], columns= df['Billboard_ID'])

In [18]:
sim_df.idxmax(axis = 1).head()

Billboard_ID
B1    B9
B2    B9
B3    B4
B4    B3
B5    B6
dtype: object

Best locations for advertisers

In [19]:
from sklearn.decomposition import TruncatedSVD

In [20]:
interaction_matrix = np.random.randint(0,2,(5,num_locations))

In [21]:
svd = TruncatedSVD(n_components= 2)

In [22]:
advertiser_factors = svd.fit_transform(interaction_matrix)
billboard_factors = svd.components_

In [23]:
predicted_score = np.dot(advertiser_factors, billboard_factors)

In [25]:
predicted_score

array([[ 0.7811406 ,  0.41538654,  1.17757438,  1.14981188,  0.10980589,
         0.57676449,  1.17757438,  1.14981188,  0.84794832,  0.10980589],
       [ 0.48131862,  0.22237141,  0.75630524,  0.74073642, -0.00993076,
         0.39643378,  0.75630524,  0.74073642,  0.5605654 , -0.00993076],
       [ 0.5344726 ,  0.68442164,  0.439657  ,  0.40233436,  0.99987744,
        -0.09457023,  0.439657  ,  0.40233436,  0.12631535,  0.99987744],
       [ 0.65015345,  0.79310063,  0.57090667,  0.52731282,  1.12511841,
        -0.06680772,  0.57090667,  0.52731282,  0.19840235,  1.12511841],
       [ 0.86205709,  0.75727947,  1.0261887 ,  0.9818642 ,  0.81175882,
         0.27118383,  1.0261887 ,  0.9818642 ,  0.59684702,  0.81175882]])

In [26]:
predicted_df = pd.DataFrame(predicted_score, index = [f'Advertiser_{i+1}' for i in range(5)], columns=df['Billboard_ID'])

In [27]:
predicted_df

Billboard_ID,B1,B2,B3,B4,B5,B6,B7,B8,B9,B10
Advertiser_1,0.781141,0.415387,1.177574,1.149812,0.109806,0.576764,1.177574,1.149812,0.847948,0.109806
Advertiser_2,0.481319,0.222371,0.756305,0.740736,-0.009931,0.396434,0.756305,0.740736,0.560565,-0.009931
Advertiser_3,0.534473,0.684422,0.439657,0.402334,0.999877,-0.094570,0.439657,0.402334,0.126315,0.999877
Advertiser_4,0.650153,0.793101,0.570907,0.527313,1.125118,-0.066808,0.570907,0.527313,0.198402,1.125118
Advertiser_5,0.862057,0.757279,1.026189,0.981864,0.811759,0.271184,1.026189,0.981864,0.596847,0.811759

In [31]:
predicted_df.loc['Advertiser_1'].idxmax()
df[df['Billboard_ID'] == 'B3'].iloc[0]

Billboard_ID                   B3
Latitude                37.226851
Longitude             -121.561428
Traffic_Volume              28728
Footfall                    17972
CTR                      4.504396
Cost_Per_Impression      0.019804
Competitor_Ads                  0
Name: 2, dtype: object

LLMs used to generate recommendations based on insights

In [28]:
from langchain_groq import ChatGroq

In [42]:

#llm=ChatGroq(groq_api_key=api_key,model_name="Gemma2-9b-It")
llm=ChatGroq(groq_api_key = "gsk_", model_name="Mixtral-8x7b-32768")

In [ ]:
def generate_llm_recommendation(advertiser):
    best_billboard = predicted_df.loc[advertiser].idxmax()
    billboard_data = df[df['Billboard_ID'] == best_billboard].iloc[0]
    
    prompt = f"""
    Advertiser {advertiser} is looking for the best OOH media location.
    Based on historical data, we recommend {best_billboard} with:
    - Traffic Volume: {billboard_data['Traffic_Volume']}
    - Footfall: {billboard_data['Footfall']}
    - CTR: {round(billboard_data['CTR'], 2)}
    - Cost per Impression: ${round(billboard_data['Cost_Per_Impression'], 4)}
    - Competitor Ads Presence: {"Yes" if billboard_data['Competitor_Ads'] else "No"}

    Provide a personalized ad placement strategy.
    """
    try:
        response = llm.generate(prompt)
    except Exception as e:
        response = f"LLM Error: {e}"

    return response


print(generate_llm_recommendation("Advertiser_1"))